<% content_for(:title) do %>
Home | About
<% end %>

<%= erb :header %>

<h1>About</h1>

<p>The <a href="https://www.learndutchfast.nl/flashcards.php">idea behind this
site</a> is an application that helps learning foreign words by using cards.</p>

<p>At the moment it implements only one deck.</p>

<p>Created by <a href="mailto:kostya.dubinin@gmail.com">Kostya Dubinin</a>. Feedback is very welcome.</p>
