<p>
  <a href="/">Home</a> | <a href="/cards/random">Random card</a> | <a href="/cards">All cards</a>
</p>

<h1>
  <% if params.key?(:flip) %>
  <a href="?"><%= @card[:back] %></a>
  <% else %>
  <a href="?flip"><%= @card[:middle] %></a>
  <% end %>
</h1>

<p>
  Look up <a target="_blank" href="https://dictionary.cambridge.org/search/learner-english/direct/?q=<%= @card[:middle] %>"><%= @card[:middle] %></a> in the Cambridge dictionary.
</p>
