<form action="/logout" method="post" style="display: inline; float: right">
  <input value="Log Out" type="submit">
</form>

<p>
  <a href="/">Home</a> |
  <a href="<%= random_card_path %>">Random</a> |
  <a href="/settings">Settings</a>
</p>
