<p>
  <span style="display: inline; float: right">
    <a href="/about">About</a> |
    <a href="/logout">Log out</a>
  </span>

  <a href="/">Home</a> |
  <a href="<%= random_card_path %>">Random</a> |
  <a href="/settings">Settings</a>
</p>
