<% content_for(:title) do %>
Home | Cards
<% end %>

<%= erb :header %>

<h1>Welcome</h1>

<nav class="menu">
  <ul>
    <li><a href="/deck">Your learning deck</a></li>
    <li><a href="/cards">All your cards</a></li>
  </ul>
</nav>

<p><i>The deck</i> lists cards you are currently learning. You can add and
remove cards from the deck. Too see all your cards go to <i>All cards</i>.</p>

<p>Enjoy learning!</p>
