<p>Your cards:</p>

<ul>
  <% @cards.each do |card| %>
    <% if params[:flip] == card[:id] %>
      <% href = "/" %>
      <% text = card[:back] %>
    <% else %>
      <% href = "/?flip=#{card[:id]}" %>
      <% text = card[:middle] %>
    <% end %>
    <li><%= card[:left] %><a href=<%= href %>><%= text %></a><%= card[:right] %></li>
  <% end %>
</ul>
