<p>Your cards:</p>

<ul>
  <% @cards.each do |card| %>
  <li>
    <% if params["flip"] == card["id"] %>
    <%= card["back"] %>
    <% else %>
    <a href="/?flip=<%= card["id"] %>"><%= card["front"] %></a>
    <% end %>
  </li>
  <% end %>
</ul>
