<% content_for(:title) do %>
New | Cards
<% end %>

<%= erb :header %>

<h1>New card</h1>

<form action="/cards" method="post">
  Front side:
  <br>
  <input type="text" required="required" name="front" placeholder="Enjoy *life*" autocomplete="off" autofocus="autofocus" pattern=".*\*.*\*.*" title="*Surround* the word you want to learn with asterisks" style="width: 100%">
  <br>
  Translation:
  <br>
  <input type="text" required="required" name="back" placeholder="жизнь" autocomplete="off" style="width: 100%">
  <br>
  <br>
  <input type="submit" value="Create">
</form>

<h2>Explanation</h2>

<p>Use asterisks (*) inside the <i>front side</i> to wrap a word into a link. If you
click that link you will see its <i>translation</i>. For example:</p>

<% if params[:example].nil? %>
<% href = "/cards/new?example=flip" %>
<% text = "casa" %>
<% else %>
<% href = "/cards/new" %>
<% text = "home" %>
<% end %>

<p>
  Front side: Mi *casa* es su casa.
  <br>
  Translation: home
  <br>
  Result: Mi <a href=<%= href %>><%= text %></a> es su casa.
</p>

Congratulations! You just learned a new Spanish word, <b>casa</b>.
